body {
    font-family: Arial, sans-serif;
    background-color: #fff7f0;
    margin: 0;
}

header {
    background-color: #ffe3e9;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #fde7c7;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #f1e0cc;
    text-align: center;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ecb5c6;
    color: white;
    border: none;
    cursor: pointer;
}
